{{>navbar}}

<div class="user-container">

<div class="container  user-profile-container">
  <div class="row g-2">
    <div class="col-6">
      <div class="p-3 border bg-light">{{>userProfile}}</div>
      <div class="p-3 border bg-light">
        {{!-- {{#if currentUser}} --}}
        <form method="POST" enctype="multipart/form-data" id="aplicantForm">
          <span>Друг, которого хочешь порекомендовать: <p> </span>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Имя:</label>
            <input type="text" name="name" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Почта:</label>
            <input type="text" name="email" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Phone:</label>
            <input type="tel" name="phone" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Дата старта:</label>
            <input type="date" name="startDate" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Photo:</label>
            <input type="file" name="photo" class="form-control" id="photo" aria-describedby="emailHelp">
          </div>
          <button class='header-button submit-user' type="submit">Порекомендовать</button>

        </form>
        {{!-- {{/if}} --}}

      </div>
    </div>
    
    {{#each allAplicants}}
    <div class="col-3 flex-wrap-nowrap aplicant-container" id="aplicantContainer">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top card-photo" src="/uploads/{{this.photo}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Name: {{this.name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Phone: {{this.phone}}</li>
          <li class="list-group-item">Started at {{this.startDate}}</li>
          <li class="list-group-item">Status: {{this.status}}</li>
        </ul>
        <div class="card-body">
          <div class="button">
          <button class='header-button aplicant-button' type="click">ЗАПРОСИТЬ ВЫПЛАТУ</button>

          </div>
          {{!-- <button class='header-button' type="submit">Blabla</button> --}}


        </div>
      </div>
    </div>
    {{/each}}
    <div class="col-6">
    </div>
    <div class="col-6">
    </div>
  </div>
</div>

</div>
